@using elephantshine.Models
@model Portfolio

@{
    ViewBag.OgImage = $"{Model.BaseUrl}/Portfolio/{Model.Path}/01.png";
    ViewBag.PageUrl = $"{Model.BaseUrl}/Portfolio/{Model.Path}";
    ViewBag.BaseUrl = Model.BaseUrl;
}

<div class="wrapper">
    <section class="module module-w">
        <div class="container">
            <div class="row m-b-70">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2>@Model.Title</h2>
                    <h3>@Model.SubTitle</h3>
                    @Html.Raw(Model.Content)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @for (int i = 1; i <= Model.ImgCount; i++)
                    {
                        var url = $"{Model.Path}/{i:00}.png";

                        <p class="project-gallery">
                            <a href="@url" class="project-gallery" alt="@Model.Title" title="@Model.Title">
                                <img src="@url" alt="@Model.Title" title="@Model.Title">
                            </a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
