@using elephantshine.Models.ViewModel
@addTagHelper *, elephantshine

@model PortfolioViewModel

<div class="wrapper">

    <section id="hero" class="module-hero module-parallax module-overlay-dark-1" data-background="~/images/portfolioBanner.png">
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title m-t-70">WORK 日常的綻放</h1>
                <p class="lead m-t-40">過去的經驗加上一直存在的熱情，滿足客戶的需求，我們的未來是越來越迷人的風景！</p>
            </div>
        </div>
    </section>
    <section class="module module-w p-b-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul id="filters" class="filters">
                        <portfolio-filter-enum enable-categorys="@Model.EnableCategorys"></portfolio-filter-enum>
                    </ul>
                </div>
            </div>
        </div>
        <div class="works-grid-wrapper">
            <div id="works-grid" class="works-grid works-grid-gutter works-grid-3 works-grid-dark">
                @foreach (var portfolio in Model.Portfolios)
                {
                    <article class="work-item @portfolio.CategoryString">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="@portfolio.FolderPath/01.png" alt="@portfolio.Title @portfolio.SubTitle">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title">@portfolio.Title</h3>
                                <h6 class="work-category">
                                    <a href="@portfolio.FolderPath">@portfolio.SubTitle</a>
                                </h6>
                            </div>
                            <a href="@portfolio.FolderPath" class="work-link"></a>
                        </div>
                    </article>
                }
            </div>
        </div>
    </section>
</div>