@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

@{
    var ogImage = ViewBag.OgImage ?? "https://www.elephantshine.com/images/banner.jpg";
    var url = ViewBag.PageUrl ?? "https://www.elephantshine.com";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="歡迎光臨 象晴設計！在這兒，晴天非外在，而是心情！讓咱們一同帶著愉快的心，完成每件最重要的專案！">
    <meta name="author" content="象晴設計">
    <meta name="copyright" content="象晴設計">
    <meta name="keywords" content="台中設計公司、平面設計、海報設計、型錄設計、DM設計、CIS設計、包裝設計、專業品牌設計、形象設計、商標設計、品牌標誌設計、包裝印刷、創意包裝、店卡設計、看板設計、提袋設計、雜誌排版LOGO設計、名片設計、廣告設計、手冊設計、書籍排版">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>象晴設計 ElephantShine</title>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="SHORTCUT ICON" href="~/images/favicon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="apple-touch-icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon.ico">
    <meta property="og:url" content="@url">
    <meta property="og:title" content="象晴設計">
    <meta property="og:description" content="歡迎光臨 象晴設計！在這兒，晴天非外在，而是心情！讓咱們一同帶著愉快的心，完成每件最重要的專案！">
    <meta property="og:site_name" content="象晴設計">
    <meta property="og:image" content="@ogImage" />
    <meta property="og:image:width" content="940" />
    <meta property="og:image:height" content="585" />
    <meta property="og:type" content="website" />
    <meta itemprop="name" content="象晴設計">
    <meta itemprop="image" content="@ogImage">
    <meta itemprop="description" content="歡迎光臨 象晴設計！在這兒，晴天非外在，而是心情！讓咱們一同帶著愉快的心，完成每件最重要的專案！">
    <meta name="twitter:title" content="象晴設計" />
    <meta name="twitter:url" content="@url" />
    <meta name="twitter:image" content="@ogImage" />
    <meta name="twitter:site" content="@@象晴設計" />
    <link rel="alternate" hreflang="zh-TW" href="@url" />

    <link href="~/css/bundle.min.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
    </environment>
    <environment names="Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-K9K6Q9');</script>
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <environment names="Production">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9K6Q9" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    </environment>

    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    @await Html.PartialAsync("_Navbar")

    @RenderBody()

    @await Html.PartialAsync("_Footer")

    <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-up"></i></a>
    </div>

    <script src="https://use.typekit.net/fft2wom.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <script src="~/js/bundle.min.js" asp-append-version="true"></script>

    @*<environment names="Development">
            <script src="~/js/jquery.parallax-1.1.3.min.js" asp-append-version="true"></script>
            <script src="~/js/jquery.superslides.min.js" asp-append-version="true"></script>
            <script src="~/js/jquery.mb.YTPlayer.min.js" asp-append-version="true"></script>
            <script src="~/js/jquery.simple-text-rotator.min.js" asp-append-version="true"></script>
            <script src="~/js/imagesloaded.pkgd.js" asp-append-version="true"></script>
            <script src="~/js/isotope.pkgd.min.js" asp-append-version="true"></script>
            <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
            <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
            <script src="~/js/jquery.fitvids.min.js" asp-append-version="true"></script>
            <script src="~/js/jqBootstrapValidation.min.js" asp-append-version="true"></script>
            <script src="~/js/appear.min.js" asp-append-version="true"></script>
            <script src="~/js/wow.min.js" asp-append-version="true"></script>
            <script src="~/js/smoothscroll.min.js" asp-append-version="true"></script>
            <script src="~/js/submenu-fix.min.js" asp-append-version="true"></script>
            <script src="~/js/contact.min.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
